<div class="tweets-container">
<h3>お悩み一覧</h3>
<% if @tweets.exists? %>
  <% @tweets.each do |t| %>
    <hr>
    <div class="tweet">
      <div class="main-box">
        <div class="left-container">
        <a href="/users/<%= t.user.id %>"><%= t.user.name %></a><br>
        <%= t.body %>
        </div>
          <div class=right-container>
            <div class="btn-group" role="group" aria-label="tweet-action">
              <%= button_to "詳細へ", tweet_path(t.id), class: "btn btn-link btn-sm" %>
              <% if current_user == t.user %>
               <%= button_to "削除する", tweet_path(t.id), method: :delete , class: "btn btn-link btn-sm" %>
              <% end %>    
           </div>
         </div>
        <p class="time"><%= t.created_at %></p>
      </div> 
    </div>
  <% end %>
<% else %>
  <hr>
  投稿はありません
<% end %> 
  <hr>
</div>