<div class="tweet-show">
<div class="tweet">
  <h3><a href="/users/<%= @tweet.user.id %>"><%= @tweet.user.name %></a><br></h3>
  <hr>
  <p><h4><%= @tweet.body %></h4></p>
  <p><%= @tweet.created_at %></p>
  <% if current_user == @tweet.user %>
   <%= button_to "削除する", tweet_path(@tweet.id), method: :delete, class: "btn btn-link btn-sm"%>
  <% end %>
</div>

<div class="comment-wrapper">
<hr>
  <h5>コメント一覧</h5>
  <% if @comments.exists? %>
  <% @comments.each do |c| %>
    <div>
      <a href="/users/<%= c.user.id %>"><%= c.user.name %></a>
      <br>
      <%= c.comment %>
    </div>

    <% if current_user == c.user %>
      <%= button_to "削除する", tweet_comment_path(@tweet, c), method: :delete, data: { confirm: "You sure?" }, class: "btn btn-link btn-sm"%>
    <% end %>
      <hr>
  <% end %>
  <% else %>
    コメントはまだありません
    <hr>
  <% end %>  

  <% if user_signed_in? %>
    <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
      <%= f.text_area :comment, :size => 40, :cols => 40, :rows => 4 %>
      <br>
      <input type="submit" class="tweet-btn"  value="コメントする">
    <% end %>
  <% end %>
</div>  
<hr>
<%= link_to "ホームに戻る", tweets_path %>

</div>