<div class="follow">
<h3><a href="/users/<%= @user.id %>"><%= @user.name %></a>がフォローしているユーザー</h3>
<hr>
<% if @user.followings.exists? %>
<% @user.followings.each do |user| %>
    <table>
     <tr>
     <td><a href="/users/<%= user.id %>"><%= user.name %>/</a></td>
     <td><%= user.email %></td>
     </tr> 
    </table>
<% end %>
<% else %>
  フォローしているユーザーはいません
<% end %>  
<hr>
<%= link_to "ユーザー詳細へ戻る", user_path(@user.id) %><br>
<%= link_to "ホームへ戻る", tweets_path %>
</div>