<div class="DM">
<h3>ダイレクトメッセージを送る</h3>

<% @entries.each do |e| %>
  <h5><a href="/users/<%= e.user.id %>"><%= e.user.user_name%>さん</a></h5>
<% end %>

<hr>
<% if @messages.present? %>
  <% @messages.each do |m| %>
    <strong><%= m.content %></strong>
    <small>by <strong><a href="/users/<%= m.user_id %>"><%= m.user.user_name %>さん</a></strong></small><br>
    <small><% m.created_at %></small>
    <hr>
  <% end %>
<% else %>
  <h5 class="text-center">メッセージはまだありません</h5>
  <hr>
<% end %>

<%= form_for @message do |f| %>
  <%= f.text_area :content, :placeholder => "メッセージを入力して下さい", :size => 40, :cols => 20, :rows => 3 %>
  <br>
  <input type="submit" class="tweet-btn"  value="投稿する">
<% end %>

<hr>
<%= link_to "ホームへ戻る", tweets_path %>
</div>